.article {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31.6794rem, 1fr));
    row-gap: 2rem;
    column-gap: 4.625rem;
  }

  &__intro {
    display: inline;
    background-color: var(--color-secondary-light);
    padding-left: 0;
    padding-right: 0;
    box-shadow: 10px 0 0 var(--color-secondary-light),
      -10px 0 0 var(--color-secondary-light);
    line-height: 1.8;
  }

  &__content {
    p + p {
      margin-block-start: 1rem;
    }
  }

  &__link {
    @extend .text--p;
    @extend .text-p--underline;
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31.6794rem, 1fr));
    column-gap: 4.625rem;
    margin-block-start: 5.125rem;

    @media screen and (max-width: 70.9375rem) {
      display: none;
    }

    &--share {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      grid-column: 2;
      grid-row: 1;
    }

    .share-icons {
      display: flex;
      align-items: center;
      column-gap: 1rem;
    }

    .icon__right {
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
    }
  }
}
